#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h2 {
  color: rgb(49, 5, 112);
}

.players-container {
    display: flex;
}

.player-wrapper {
    flex: 1; /* This will make each player-wrapper take up equal space */
    width: calc(100% * 3); /* This will make each player-wrapper three times its current length */
    box-sizing: border-box; /* This ensures padding and border are included in the width */
}
