.die-container {
    font-family: 'Short Stack', 'Architects Daughter', 'Tillana', cursive;
    color: rgb(16, 107, 59);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-weight: bold;
    margin: 10px auto;
    background-image: url('../assets/pow.png');
    background-size: 13rem 13rem;
    background-position: center;
    background-repeat: no-repeat
}