.banner {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-bottom: 2px solid #735d5d;
    color: black;
}

.damage-points {
    margin-top: 10px;
    font-size: 18px;
}

.banner h1 span.banner--c { color: red; }
.banner h1 span.banner--o { color: rgb(140, 4, 158); }
.banner h1 span.banner--l { color: rgb(60, 1, 38); }
.banner h1 span.banner--o2 { color: teal; }
.banner h1 span.banner--r { color: rgb(62, 5, 131); }
.banner h1 span.banner--b { color: rgb(43, 94, 43); }
.banner h1 span.banner--a { color: orange; }
.banner h1 span.banner--t { color: black; }
.banner h1 span.banner--l2 { color: rgb(255, 60, 0); }
.banner h1 span.banner--e { color: rgb(153, 7, 245); }
.banner h1 span.banner--l3 { color: rgb(172, 8, 8); }
.banner h1 span.banner--a2 { color: rgb(8, 80, 8); }
.banner h1 span.banner--b2 { color: rgb(17, 250, 1); }
